body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.btn {
  color: #000;
  background-color: #fbb500;
  border: 1px solid #fbb500;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 45%;
  padding: 0.5%;
}

.selected{
  background-color: #ccc;
}

.mgnT {
  margin-top: 5%;
}

.btn + .btn {
  margin-left: 2%;
}

.tabs-container { 
  position: relative;
  width: 100%;
}

.tabs {
  cursor: pointer;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabs-item {
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  border-bottom: none;
  border-radius:5px 5px 0 0; 
  padding:1%;
  position: relative;
  top: 1px;
}

.tabs-item + .tabs-item  {
  margin-left: 0.5%;
}

.active {
  background-color: #ffffff;
  z-index: 20;
}

.content-tabs {
  border: 1px solid #cccccc;
  padding: 3%;
  position: relative;
  z-index: 10;
}

.content-item {
  position: absolute;
  left: -5000px;
}

.content-item.active {
  position: relative;
  left: 0;
}

/* Buscador */
.search{
  display: inline-block;
  width: 20%;
  margin-bottom: 1%;
  margin-left: 20%;
}

fieldset{
  border: 1px solid #fbb500;
  border-radius: 5px;
  padding: 0;
}

#space, #btn{
  height: 32px;
}

#space{
  color: black;
  border: none;
  width: 50%;
}

#btn{ 
  background-color:#fbb500;
  border: none;
  float:right;
  margin:3px; 
  width: 35px;
}

/* Canciones */
.row {
  display: flex;
  height: 400px;
  width: 100%;
}

.hola {
  color: #fbb500;
}

.adios {
  color: #fbb500;
}

.column {
  border: 1px solid black;
  list-style: none;
  margin: 0;
  padding:0;
  width: 50%;
  overflow: scroll; 
}

.column::-webkit-scrollbar{
  width: 7px;
}

.column::-webkit-scrollbar-thumb{
  background-color: #fbb500;
  border-radius: 5px;
}

li {
  border-bottom: 1px solid black;
  font-size: 20px;
  padding: 2%;
}

/* Import */
.import {
  border: 1px solid black;
}

.import-container {
  display: flex;
  height: 400px;
  width: 100%;
}

.import-content {
  border: 1px solid black;
  padding:2% 0 0 2%;
  width: 100%;
}

.import-form {
  width: 60%;
}

.name {
  border: 1px solid black;
  font-size: 0.8rem;
  margin: 2%;
  padding: 1%;
  width: 79%;
}

.artist {
  border: 1px solid black;
  font-size: 0.8rem;
  margin: 2%;
  padding: 1%;
  width: 79%;
}

.year {
  border: 1px solid black;
  font-size: 0.8rem;
  margin: 2%;
  padding: 1%;
  width: 79%;
}

.album {
  border: 1px solid black;
  font-size: 0.8rem;
  margin: 2%;
  padding: 1%;
  width: 79%;
}

.image {
  border: 1px solid black;
  font-size: 0.8rem;
  margin: 2%;
  padding: 1%;
  width: 79%;
}

.mp3 {
  border: 1px solid black;
  font-size: 0.8rem;
  margin: 2%;
  padding: 1%;
  width: 79%;
}

.wav{
  border: 1px solid black;
  font-size: 0.8rem;
  margin: 2%;
  padding: 1%;
  width: 79%;
}

.ogg {
  border: 1px solid black;
  font-size: 0.8rem;
  margin: 2%;
  padding: 1%;
  width: 79%;
}

/* Reprouctor */


#player {
  width: 100%;
  position: absolute;
}

.img {
  width:100%;
  background-color: #000;
}

#container {
  width: 100%;
}

.info {
  position: absolute;
  width: 100%;
  height: 115px;
  background-color: #fff;
}

.cont {
  text-align: center;
  padding-top: 25px;
}

.trackinfo {
  padding-left: 10%;
  position: absolute;
  bottom: 2%;
  color: #fff;
}

#player .trackinfo p {
  text-shadow: 0px 0px 5px #333;
}
#name-song {
  font-weight: bold;
  font-size: 3rem;
  padding-left: 0.1%;
}
#singer {
  padding-left: 0.1%;
  font-size: 1.5rem; 
}
#track {
  width: 100%;
  height: 5px;
  position: absolute;
  background-color: #ccc;
  z-index: 10;
  cursor: pointer;
}
#progress {
  float: left;
  height: 5px;
  width: 0%;
  background: #00CC99;
  cursor: pointer;
}
#handler {
  display: none;
}
.nav {
  width: 50px;
  height: 50px;
  vertical-align: top;
  background-color: #FFF;
  border: 2px solid #000;
  border-radius: 50%;
  outline: none;
  margin: 0 7px;
  cursor: pointer;
}
.nav:hover {
  background-color: #fbb500;
}
.nav img {
  height: 20px;
  vertical-align: middle;
}
.pad {
  padding-left: 5px;
}
#prev {
  padding-right: 5px;
}
#next {
  padding-left: 4px;
}